# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc

# IDEs
.idea/
.vscode/

# Project Specific
output/chunks/*.json
docker-compose.yml
!raw_transcripts/

/GCP_CONSOLE_DEPLOYMENT_GUIDE.md
/GCP_ARCHITECTURE.md
/PHASE1_DESIGN.md

old_references/*

